# Map filename
map_filename=../Resources/test_2.map

# Number of healthy humans
humans_healthy=1000
# Number of ill humans from start
humans_ill=10

# Total simulation time
sim_years=1
sim_months=0
sim_days=0

# How often to check human infection (in minutes)
infection_check=10

# Need time to recover
recover_time_min=10000
recover_time_max=100000

# Base chance to get ill from 0 to 1
infection_chance=0.01

# Ill chance tile modifier
road_modifier=0.01
work_modifier=0.3
hospital_modifier=0.5
home_modifier=0.001

# Display settings
display_on=1
display_tick=10000