# Map filename
map_filename=../Resources/test_2.map

# Number of healthy humans
humans_healthy=10000
# Number of ill humans from start
humans_ill=10000

# Total simulation time
sim_years=0
sim_months=0
sim_days=1

# How often to check human infection (in minutes)
infection_check=10

# Need time to recover
recover_time_min=10
recover_time_max=100

# Base chance to get ill from 0 to 1
infection_chance=0.01

# Display settings
display_on=0
display_tick=100